body{
    background-color: aliceblue;
    margin: 0%;
    padding: 0%;
    

    nav {
        background-color: rgb(73, 127, 243);
        border: solid 1px  rgb(253, 5, 59);
        display: flex;
        justify-content: space-between;
        

        div ul {
            border: solid 2px  rgb(47, 4, 201);
            list-style: none;
            display: flex;
            min-width: 60vw;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 0;
                    
            li {
                border: solid 1px  rgb(0, 247, 41);

            }
        }
    }

    #container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 40px;

    }

    footer {
        height: 200px;
        background-color: rgb(16, 157, 252);
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .descrip {
            display: flex;
            flex-direction: column;
        }
    }



}